In [350]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 500)

In [351]:
df1 = pd.read_csv('Train.csv')
df2 = pd.read_csv('Test.csv')

In [311]:
df1['Policy End Date']=df1['Policy End Date'].astype('datetime64')
df1['Policy Start Date']=df1['Policy Start Date'].astype('datetime64')
df2['Policy End Date']=df2['Policy End Date'].astype('datetime64')
df2['Policy Start Date']=df2['Policy Start Date'].astype('datetime64')

df1['days']=(df1['Policy End Date']-df1['Policy Start Date']).dt.days
df2['days']=(df2['Policy End Date']-df2['Policy Start Date']).dt.days

In [313]:
df1.dtypes

ID                                object
Policy Start Date         datetime64[ns]
Policy End Date           datetime64[ns]
Gender                            object
Age                                int64
First Transaction Date            object
No_Pol                             int64
Car_Category                      object
Subject_Car_Colour                object
Subject_Car_Make                  object
LGA_Name                          object
State                             object
ProductName                       object
target                             int64
days                               int64
dtype: object

In [314]:
df2.dtypes

ID                                object
Policy Start Date         datetime64[ns]
Policy End Date           datetime64[ns]
Gender                            object
Age                                int64
First Transaction Date            object
No_Pol                             int64
Car_Category                      object
Subject_Car_Colour                object
Subject_Car_Make                  object
LGA_Name                          object
State                             object
ProductName                       object
days                               int64
dtype: object

In [315]:
df1.isnull().sum()

ID                           0
Policy Start Date            0
Policy End Date              0
Gender                     359
Age                          0
First Transaction Date       0
No_Pol                       0
Car_Category              3738
Subject_Car_Colour        6962
Subject_Car_Make          2476
LGA_Name                  6476
State                     6488
ProductName                  0
target                       0
days                         0
dtype: int64

In [316]:
df2.isnull().sum()

ID                          0
Policy Start Date           0
Policy End Date             0
Gender                     41
Age                         0
First Transaction Date      0
No_Pol                      0
Car_Category              372
Subject_Car_Colour        697
Subject_Car_Make          248
LGA_Name                  656
State                     656
ProductName                 0
days                        0
dtype: int64

In [317]:
df1.head()

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target,days
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,NaN,NaN,Car Classic,0,364
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,NaN,NaN,Car Classic,1,364
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,NaN,NaN,Car Classic,0,364
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,NaN,NaN,NaN,NaN,NaN,CarSafe,0,364
4,ID_00BRP63,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,NaN,NaN,NaN,Lagos,Lagos,Muuve,1,124

In [318]:
df2.head()

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,days
0,ID_01QM0NU,2010-10-23,2011-10-22,Female,46,2010-10-23,1,NaN,NaN,Ford,Abuja Municipal,Abuja-Municipal,Car Classic,364
1,ID_024NJLZ,2010-10-14,2011-10-13,Male,32,2010-10-14,1,NaN,NaN,NaN,Kosofe,Benue,Car Classic,364
2,ID_02NOVWQ,2010-08-29,2011-08-28,Female,45,2010-08-29,2,Saloon,Black,Honda,Wuse 11,Abuja,Car Classic,364
3,ID_02VSP68,2010-06-13,2011-06-12,Female,58,2010-06-13,1,Saloon,NaN,TOYOTA,NaN,NaN,CarSafe,364
4,ID_02YB37K,2010-07-01,2011-06-30,NaN,120,2010-07-01,1,Saloon,Red,Hyundai,Victoria Island,Lagos,Car Classic,364

In [319]:
data = pd.concat([df1,df2],axis=0)

In [320]:
data.head()

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target,days
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,NaN,NaN,Car Classic,0.0,364
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,NaN,NaN,Car Classic,1.0,364
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,NaN,NaN,Car Classic,0.0,364
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,NaN,NaN,NaN,NaN,NaN,CarSafe,0.0,364
4,ID_00BRP63,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,NaN,NaN,NaN,Lagos,Lagos,Muuve,1.0,124

In [321]:
data['Gender'].unique()

array(['Male', 'Female', 'Entity', 'Joint Gender', nan, 'NO GENDER',
       'NOT STATED', 'SEX'], dtype=object)

In [322]:
gender = {'Male':'Male', 'Female':'Female', 'Entity':np.nan, 'Joint Gender':'others', 'NO GENDER':np.nan,'NOT STATED':np.nan, 'SEX':np.nan}

data['Gender']=data['Gender'].map(gender)

In [324]:
data.drop(['ID','Policy Start Date','Policy End Date','First Transaction Date','Subject_Car_Colour','LGA_Name','State'],axis=1,inplace=True)

In [325]:
data = data.dropna(axis=0)

In [326]:
gender_dummy = pd.get_dummies(data['Gender'],drop_first=True)
gender_dummy = gender_dummy.reset_index(drop=True)

from sklearn.preprocessing import LabelEncoder
l1_car_cat = LabelEncoder()
l2_subject_car = LabelEncoder()
l3_product_name = LabelEncoder()

data['Car_Category'] = l1_car_cat.fit_transform(data['Car_Category'])
data['Subject_Car_Make'] = l2_subject_car.fit_transform(data['Subject_Car_Make'])
data['ProductName'] = l3_product_name.fit_transform(data['ProductName'])

In [327]:
data.reset_index(drop=True,inplace=True)

In [336]:
data.to_csv('model_data.csv')

In [329]:
data = data.join(gender_dummy)
data.drop('Gender',axis=1,inplace=True)

In [337]:
data = data[data['Age']>18]

In [339]:
data.to_csv('model_data.csv')

In [344]:
test = pd.read_csv('Test.csv')

In [345]:
test['Gender'] = test['Gender'].map(gender)

In [346]:
test['Policy End Date']=test['Policy End Date'].astype('datetime64')
test['Policy Start Date']=test['Policy Start Date'].astype('datetime64')

In [347]:
test['days']=(test['Policy End Date']-test['Policy Start Date']).dt.days

In [348]:
test.drop(['Policy Start Date','Policy End Date','First Transaction Date','Subject_Car_Colour','LGA_Name','State'],axis=1,inplace=True)

In [349]:
test.to_csv('testing_modified.csv')

In [381]:
df1 = pd.read_csv('Train.csv')

In [382]:
df1.dropna(inplace=True)

In [383]:
df1.shape

(2667, 14)

In [412]:
from mlxtend.feature_selection import SequentialFeatureSelector
from xgboost import XGBClassifier

In [413]:
sfs = SequentialFeatureSelector(estimator=XGBClassifier(),cv=3,k_features='best',n_jobs=-1)

In [386]:
x = df1.drop('target',axis=1)

In [387]:
y = df1['target']

In [388]:
df1['Policy End Date']=df1['Policy End Date'].astype('datetime64')
df1['Policy Start Date']=df1['Policy Start Date'].astype('datetime64')
df1['days']=(df1['Policy End Date']-df1['Policy Start Date']).dt.days

In [389]:
df1.drop(['Policy Start Date','Policy End Date','First Transaction Date','ID'],axis=1,inplace=True)

In [390]:
df1

,Gender,Age,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target,days
8,Female,71,2,JEEP,Black,REXTON,Badagry,Benue,Car Classic,0,364
22,Male,30,1,Saloon,Grey,TOYOTA,Ikeja,Lagos,Car Classic,1,364
24,Male,40,2,Saloon,Black,Honda,Abuja Municipal,Abuja-Municipal,Car Classic,0,364
26,Male,41,1,Saloon,Silver,TOYOTA,Yaba,Benue,Car Classic,0,358
39,Male,39,2,Saloon,Red,TOYOTA,Oshodi-Isolo,Oshodi-Isolo,Car Classic,0,364
...,...,...,...,...,...,...,...,...,...,...,...
12050,Male,59,1,JEEP,Black,TOYOTA,MAGODO,Benue,Car Classic,0,364
12052,Male,70,1,JEEP,Black,Lexus,Eti-Osa,Eti-Osa,Car Classic,0,364
12054,Male,33,1,Saloon,As Attached,TOYOTA,Port Harcourt,Rivers,Car Classic,0,364
12073,Female,31,1,Saloon,Cream,Hyundai,Lagos Island,Lagos,Car Classic,0,364
12078,Female,46,2,JEEP,Black,Land Rover,Lagos Island,Lagos,Car Classic,0,364

In [391]:
gender = {'Male':'Male', 'Female':'Female', 'Entity':np.nan, 'Joint Gender':'others', 'NO GENDER':np.nan,'NOT STATED':np.nan, 'SEX':np.nan}

df1['Gender']=df1['Gender'].map(gender)

In [392]:
gender_dummy = pd.get_dummies(df1['Gender'],drop_first=True)


from sklearn.preprocessing import LabelEncoder
l1_car_cat = LabelEncoder()
l2_subject_car = LabelEncoder()
l3_product_name = LabelEncoder()
l5_lga_name = LabelEncoder()
l4_state = LabelEncoder()
l6_color = LabelEncoder()

df1['Car_Category'] = l1_car_cat.fit_transform(df1['Car_Category'])
df1['Subject_Car_Make'] = l2_subject_car.fit_transform(df1['Subject_Car_Make'])
df1['ProductName'] = l3_product_name.fit_transform(df1['ProductName'])
df1['LGA_Name'] = l5_lga_name.fit_transform(df1['LGA_Name'])
df1['State'] = l4_state.fit_transform(df1['State'])
df1['Subject_Car_Colour'] = l6_color.fit_transform(df1['Subject_Car_Colour'])

In [395]:
df1.reset_index(drop=True,inplace=True)

In [396]:
gender_dummy.reset_index(drop=True,inplace=True)

In [398]:
df1 = df1.join(gender_dummy)

In [400]:
df1.drop('Gender',axis=1,inplace=True)

In [401]:
df1

,Age,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target,days,Male,others
0,71,2,1,4,34,39,17,1,0,364,0,0
1,30,1,7,18,41,86,54,1,1,364,1,0
2,40,2,7,4,13,14,5,1,0,364,1,0
3,41,1,7,26,41,199,17,1,0,358,1,0
4,39,2,7,24,41,165,71,1,0,364,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2662,59,1,1,4,41,122,17,1,0,364,1,0
2663,70,1,1,4,23,64,29,1,0,364,1,0
2664,33,1,7,0,41,176,81,1,0,364,1,0
2665,31,1,7,10,14,119,54,1,0,364,0,0
2666,46,2,1,4,21,119,54,1,0,364,0,0

In [403]:
import scipy.stats as st

iqr = st.iqr(df1['Age'])
q1 = df1['Age'].quantile(0.25)
q3 = df1['Age'].quantile(0.75)

ll = q1 - (3*(iqr))
ul = q3 + (3*iqr)

model1 = df1[(df1['Age']>ll)&(df1['Age']<ul)]

In [404]:
model1.isnull()

(2611, 12)

In [407]:
x = model1.drop('target',axis=1)
y = model1['target']

In [408]:
from sklearn.neighbors import KNeighborsClassifier

In [417]:
sfs = SequentialFeatureSelector(estimator=XGBClassifier(),forward=False,cv=3,k_features='best',n_jobs=-1)

In [418]:
sfs.fit(x,y)

[10:56:49] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[10:56:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[10:56:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

SequentialFeatureSelector(cv=3,
                          estimator=XGBClassifier(base_score=None, booster=None,
                                                  colsample_bylevel=None,
                                                  colsample_bynode=None,
                                                  colsample_bytree=None,
                                                  gamma=None, gpu_id=None,
                                                  importance_type='gain',
                                                  interaction_constraints=None,
                                                  learning_rate=None,
                                                  max_delta_step=None,
                                                  max_depth=None,
                                                  min_child_weight=None,
                                                  missing=nan,
                                                  monotone_constraints=None,
                                                  n_estimators=100, n_jobs=None,
                                                  num_parallel_tree=None,
                                                  random_state=None,
                                                  reg_alpha=None,
                                                  reg_lambda=None,
                                                  scale_pos_weight=None,
                                                  subsample=None,
                                                  tree_method=None,
                                                  validate_parameters=None,
                                                  verbosity=None),
                          forward=False, k_features='best', n_jobs=-1)

In [419]:
sfs.k_feature_names_

('No_Pol', 'Car_Category', 'others')

In [420]:
df2 = pd.read_csv('Test.csv')

In [422]:
df2['Gender'] = df2['Gender'].map(gender)

In [423]:
dum = pd.get_dummies(df2['Gender'],drop_first=True)

In [425]:
df2 = df2.join(dum)

In [436]:
xtest = df2[['No_Pol', 'Car_Category', 'others']]

In [427]:
xtrain = model1[['No_Pol', 'Car_Category', 'others']]

In [428]:
ytrain = model1['target']

In [429]:
xgb = XGBClassifier()
xgb.fit(xtrain,ytrain)

[11:01:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [451]:
ypredict = xgb.predict(xtest)

In [449]:
xtest.isnull().sum()

No_Pol          0
Car_Category    0
others          0
dtype: int64

In [448]:
xtest['Car_Category'].fillna(value='Saloon',inplace=True)

In [450]:
xtest['Car_Category'] = l1_car_cat.transform(xtest['Car_Category'])

In [438]:
df5 = pd.read_csv('Train.csv')

In [440]:
df5.dropna(axis=0,inplace=True)

In [443]:
df5['Car_Category'].mode()

0    Saloon
dtype: object

In [457]:
r = pd.DataFrame(df2['ID'],columns=['ID'])

In [458]:
r['target'] = ypredict

In [460]:
r.to_csv('koushik243.csv')